<% present(current_user, SessionPresenter) do |session_presenter| %>
    <div class="centered">
    <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Just Lunch</h1>
                    <%= session_presenter.homepage_text %>
                </div>
            </div>
    </header>
    </div>
<% end %>