<% present @invitation do |invitation_presenter| %>
  <h1><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Invitation</h1>
  <h4>To: <%= @user.name %> </h4>

  <%= render partial: 'layouts/restaurant', locals: {restaurant: @restaurant, meeting: @meeting } %>

  <div class="col-md-6 text-left">
    <%= invitation_presenter.accept_decline %>
  </div>
<% end %>


