body {
	padding-top: 50px;

}
#headerpic img {
	border-radius: 100%;
	width: 40px;
	margin: 0 auto;
}
img{
	margin: 0 auto;
	border-radius: 100%;
}
.cover-image{
  background-image: image-url('food-bg.jpg');
  height: 50em;
  width: 100%;
  top: 150px;
  left: 0;
}
.text-inverse{
	color: white;
}
.btn-white {
	margin: 0 auto !important;
  background: #fff;
  color: #545454;
  border: none;
  padding: 20px !important;
}
