.cover-image{
	background-image: image-url('food-bg.jpg');
  min-height: 1000%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 50;
  left: 0;
}
.text-inverse{
	color: white;
}
